services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: only-subs-frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_TMDB_API_KEY=${NEXT_PUBLIC_TMDB_API_KEY}
      - NEXT_PUBLIC_TMDB_BASE_URL=https://api.themoviedb.org/3
      - NEXT_PUBLIC_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
    volumes:                   
      - ./public:/app/public
    depends_on:
      - db
  
  
  db:
    image: postgres:15-alpine
    container_name: only-subs-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: subs_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: